input[type=text] {
    display: flex;
    width: 100%;
    height:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #262626;
    border: 1px solid lightgrey;
    border-radius: 15px;
    background:whitesmoke;
    margin-bottom:10px;
    padding: 1px 15px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content:center;
    align-items:center;
}

    #flex-end {
        justify-content: flex-end;
    }

    #section-1 {
        display: flex;
        width:100%;
        height: 80px;
        margin-top:15px;
    }

    #section-2 {
        display: flex;
        width:100%;
    }
    #google-image {
        background-image: url("../images/google-display-original.png");
        background-repeat: no-repeat;
        background-size: cover;
        width:180px;
        height:60px;
        border: 0px solid azure;
    }

    #search-options-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        }

    #search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width:55%;
        margin-top:10px;
    }

    #search-options-box {
        height: 24px;
        width:110px;
        margin:4px;
        padding:2px;
        background: whitesmoke;
        border: none;
        color:lightslategrey;
        text-align: center;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

.block {
    display: flex;
    align-items: center;
    width: 42px;
    height: 18px;
    text-align: center;
    color:grey;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding:1px;
    margin: 3px;
}

#block-logo-user {
    background-image: url("../images/user-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    width:18px;
    margin:0px 2px;
}

#block-logo-icon {
    background-image: url("../images/logo_small.png");
    background-repeat: no-repeat;
    opacity: .55;
    width:18px;
    margin:0px 2px;
}